/*BURGERMENU*/
html {
    overflow-x: hidden;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    cursor: url('cursor1.png') 25 30, pointer;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 36px;
    color: gainsboro;
    display: block;
    transition: 0.3s;
    cursor: url('cursor1.png') 25 30, pointer;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: gainsboro;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/*INDEX*/


img {
    width: 100%;
    filter: grayscale(100%);

}

body {
    margin: 40vh;
    padding: 4vh;
    margin: 0;
    cursor: url('cursor1.png') 25 30, pointer;

}


.box {
    box-sizing: border-box;
    border: none;
    display: flex;
    width: 100%;
    height: 9em;
    justify-content: space-between;

}

#text_front {
    box-sizing: border-box;
    width: 100%;
    height: 12em;
    border: none;
    font-size: 4em;
    font-family: 'M PLUS 1p', sans-serif;

}


#text_box2 {
    box-sizing: border-box;
    width: 100%;
    color: gainsboro;
    border: none;
    font-size: 4em;
    font-family: 'M PLUS 1p',
        sans-serif;
}

#logo {
    background-image: url(svg/pw_logo.svg);
    width: 6vh;
    height: 6vh;
    padding: 1vh;
    background-size: 100%;
    background-repeat: no-repeat;


}

#menu {
    background-image: url(svg/burgermenu_ikon.svg);
    padding: 1vh;
    width: 4vh;
    height: 2vh;
    background-size: 100%;
    background-repeat: no-repeat;

}

#row {
    flex-direction: row;
    display: flex;
}



#row a {
    flex-basis: 1;
    width: 50%;
    margin: 2 2;
    padding: 2em;
    height: 100%;
}

#row img:hover {
    filter: grayscale(0);

}




@media only screen and (max-width: 800px) {
    #text_box2 {
        margin-top: 200px;
        font-size: 2em;
    }

    #text_front {
        font-size: 2em;
    }

    #row {
        flex-direction: column;
    }

    #row a {
        width: 80%;
    }
}

/*Om site*/

#image_p {
    width: 50%;
    height: 40px;
    margin left: auto;
    margin right: auto;
}

#text_about {
    max-width: 50%;
    margin-left: auto;
    text-align: left;
    font-size: 4em;
    font-family: 'M PLUS 1p', sans-serif;

}

#about_p h2 {
    margin-left: 2vh;
    font-size: 1em;
    font-family: "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: lighter;

}

.about_pw {
    display: flex;
    flex-direction: row;
}

#cv {
    padding: 4vh;
    width: 70vh;
    height: 70vh;
}

@media only screen and (max-width: 800px) {
    #text_about {
        max-width: 80%;
        margin-left: 0;
    }

    .about_pw {
        display: flex;
        flex-direction: column;
    }

    #image_p {
        width: 100%;
    }

    #about_p {
        margin-top: 300px;
    }

    #cv {
        padding: 0;
        width: 100%;
        height: 150px;
    }
}

/*Portefølje*/

.themes {
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.themes h1 {
    text-align: left;
    font-family: 'M PLUS 1p',
        sans-serif;


}

.themes p {
    font-family: "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: lighter;
}

#row1 {
    display: flex;
    flex-direction: row;
}

#row2 {
    display: flex;
    flex-direction: row;
}

#theme1 {
    width: 50%;
    margin-right: 30px;
    text-align: justify;
}

#theme2 {
    width: 50%;
    margin-left: 30px;
    text-align: justify;
}

#theme3 {
    width: 50%;
    margin-right: 30px;
    text-align: justify;
}

#theme4 {
    width: 50%;
    margin-left: 30px;
    text-align: justify;
}

#theme4 p {
    margin-top: 60px;
}

.themes a {
    color: black;
    cursor: url('cursor1.png') 25 30, pointer;
}

.themes a:visited {
    color: gainsboro;
}

@media only screen and (max-width: 800px) {
    #row1 {
        flex-direction: column;
    }

    #row2 {
        flex-direction: column;
    }

    .themes {
        margin: 0 5px;
    }

    #theme1 {
        width: 100%;
        margin-right: 0;
        line-height: 1.7;
    }

    #theme2 {
        width: 100%;
        margin-left: 0;
        line-height: 1.7;
    }

    #theme3 {
        width: 100%;
        margin-right: 0;
        line-height: 1.7;
    }

    #theme4 {
        width: 100%;
        margin-left: 0;
        line-height: 1.7;
    }

}
